
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TrueStudy/About</title>
    <link
      href="https://fonts.googleapis.com/css?family=Kavivanar|Open+Sans"
      rel="stylesheet"
    />
    <link href="static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="leftheader">
          <a href="/"
            ><img
              src="https://media.istockphoto.com/photos/international-globe-and-book-icon-picture-id175448793?k=20&m=175448793&s=612x612&w=0&h=RSv0EXJSOQmA3fwOv5RfPOjhUyWRJr6gKTW-VaW6DsY="
              alt="True Study. Click for home. "
              style="border-radius: 40%"
              height="175px"
          /></a>
        </div>
        <div class="rightheader">
          <h1>True Study</h1>
          <p>The real study materials</p>
        </div>
      </header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Courses</a></li>
          <li><a href="/cart">Documentation</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <!-- The about page of True Study, it will be improved in future -->
      <!-- But some reasons I have to stop the project and submit it. -->
      <section>
        <h2 style="text-align: center; padding: 25px">We are True Study</h2>
        <img
          src="https://media.istockphoto.com/photos/international-globe-and-book-icon-picture-id175448793?k=20&m=175448793&s=612x612&w=0&h=RSv0EXJSOQmA3fwOv5RfPOjhUyWRJr6gKTW-VaW6DsY="
          alt="True Study. Click for home. "
        />
      </section>
      <footer>
        <p>&copy; Copyright reserved 2021</p>
      </footer>
    </div>
  </body>
</html>
