
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TrueStudy/Docs</title>
    <link
      href="https://fonts.googleapis.com/css?family=Kavivanar|Open+Sans"
      rel="stylesheet"
    />
    <link href="static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="leftheader">
          <a href="/"
            ><img
              src="https://media.istockphoto.com/photos/international-globe-and-book-icon-picture-id175448793?k=20&m=175448793&s=612x612&w=0&h=RSv0EXJSOQmA3fwOv5RfPOjhUyWRJr6gKTW-VaW6DsY="
              alt="True Study. Click for home. "
              style="border-radius: 40%"
              height="175px"
          /></a>
        </div>
        <div class="rightheader">
          <h1>True Study</h1>
          <p>The real study materials</p>
        </div>
      </header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Courses</a></li>
          <li><a href="/cart">Documentation</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <!--The basic concept of the page-->
      <!--is to provide the info about use of -->
      <!--this website and for better experience-->
      <!--we will add more stuff later in future-->
      <section style="text-align: center">
        <h1>This is the official documentation of TrueStudy.</h1>
        <h2>How to use this website?</h2>
        <p style="font-family: 'Kavivanar', cursive; text-align: center">
          For the courses you want to study, just click on the icon and you will
          redirect to the course official website.
        </p>
        <p style="font-family: 'Kavivanar', cursive; text-align: center">
          All the courses we provide are free of cost to study, but if you want
          to earn the verified certificate then you have to pay some amount.
        </p>
        <p style="font-family: 'Kavivanar', cursive; text-align: center">
          The money you provide is only on the website of official course, you
          no need to pay us any amount.
        </p>
        <h3 style="text-align: left">Thank You</h3>
        <h4 style="text-align: left">Regards</h4>
        <h3 style="text-align: left">TrueStudy</h3>
      </section>
      <footer>
        <p>&copy; Copyright reserved 2021</p>
      </footer>
    </div>
  </body>
</html>
