
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TrueStudy</title>
    <link
      href="https://fonts.googleapis.com/css?family=Kavivanar|Open+Sans"
      rel="stylesheet"
    />
    <link href="static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="leftheader">
          <a href="/"
            ><img
              src="https://media.istockphoto.com/photos/international-globe-and-book-icon-picture-id175448793?k=20&m=175448793&s=612x612&w=0&h=RSv0EXJSOQmA3fwOv5RfPOjhUyWRJr6gKTW-VaW6DsY="
              alt="True Study. Click for home. "
              style="border-radius: 40%"
              height="175px"
          /></a>
        </div>
        <div class="rightheader">
          <h1>True Study</h1>
          <p>The real study materials</p>
        </div>
      </header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Courses</a></li>
          <li><a href="/cart">Documentation</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <section>
        <article>
          <img
            src="https://media.istockphoto.com/photos/machine-learning-hands-of-robot-and-human-touching-on-big-data-picture-id1206796363?k=20&m=1206796363&s=612x612&w=0&h=IapYt1UYr9kJGX7gunSjksvAGiiqF6DzB0GVo-BgLeE="
            alt="Computer Science"
            width="400px"
            height="300px"
          />
          <h2>Computer Science</h2>
          <p class="posted">Life around computers</p>
          <p>
            Computer science is the study of algorithmic processes,
            computational machines and computation itself. As a discipline,
            computer science spans a range of topics from theoretical studies of
            algorithms, computation and information to the practical issues of
            implementing computational systems in hardware and software. Its
            fields can be divided into theoretical and practical disciplines.
          </p>
          <p><a href="/products">Get now >> </a></p>
        </article>
        <article>
          <img
            src="https://media.istockphoto.com/photos/ethical-hacking-data-breach-tracking-3d-illustration-picture-id1043123678?k=20&m=1043123678&s=612x612&w=0&h=Xfptf86wn1m4oRvCmfhi9U9kRldXl8Rd1opO1OYPano="
            alt="Ethical Hacking"
            width="400px"
            height="300px"
          />
          <h2>Ethical Hacking</h2>
          <p class="posted">Reality of virtual world</p>
          <p>
            Ethical Hacking is a popular topic nowadays. Almost everyone has
            heard about this before, but very few people know about it
            altogether. Most people believe that the word "hacking" is used for
            any illegal purpose; Topics related to crime related to cybercrime
            or computer. But this is not entirely true.
          </p>
          <p><a href="/products">Get now >> </a></p>
        </article>
        <article>
          <img
            src="https://cdn.pixabay.com/photo/2017/09/08/19/05/a-2729781__340.png"
            alt="Machine Learning"
            height="300px"
            width="400px"
          />
          <h2>Machine Learning</h2>
          <p class="posted">On Demand</p>
          <p>
            Machine learning (ML) is the study of computer algorithms that can
            improve automatically through experience and by the use of data. It
            is seen as a part of artificial intelligence. Machine learning
            algorithms build a model based on sample data, known as "training
            data", in order to make predictions or decisions without being
            explicitly programmed to do so. Machine learning algorithms are used
            …
          </p>
          <p><a href="/products">Get now >> </a></p>
        </article>
        <article>
          <img
            src="https://media.istockphoto.com/photos/developing-programmer-development-website-design-and-coding-working-picture-id1160539639?k=20&m=1160539639&s=612x612&w=0&h=pT9nfksCTW1tNnIdSxhO9TJwN8s796fB23lnSIXa3Gw="
            alt="Programming"
            height="300px"
            width="400px"
          />
          <h2>Programming</h2>
          <p class="posted">Code, code, code...</p>
          <p>
            Computer programming is the process of designing and building an
            executable computer program to accomplish a specific computing
            result or to perform a specific task. Programming involves tasks
            such as: analysis, generating algorithms, profiling algorithms'
            accuracy and resource consumption, and the implementation of
            algorithms in a chosen programming language (commonly referred to as
            co…
          </p>
          <p><a href="/products">Get now >> </a></p>
        </article>
        <article>
          <img
            src="https://media.istockphoto.com/photos/robot-working-with-digital-display-picture-id686690190?k=20&m=686690190&s=612x612&w=0&h=WKv8yZfh_AF9L1my63vuQntxv3jNPUk2Oqw9mNhEcPc="
            alt="Premium Courses"
            height="300px"
            width="400px"
          />
          <h2>Robotics</h2>
          <p class="posted">Premium courses</p>
          <p>
            Artificial intelligence (AI) is intelligence demonstrated by
            machines, as opposed to the natural intelligence displayed by humans
            or animals. Leading AI textbooks define the field as the study of
            "intelligent agents": any system that perceives its environment and
            takes actions that maximize its chance of achieving its goals. Some
            popular accounts use the term "artificial intelligence" to de…
          </p>
          <p><a href="/products">Get now >> </a></p>
        </article>
        <article>
          <img
            src="https://cdn.pixabay.com/photo/2016/09/14/08/26/web-1668927__340.jpg"
            alt="Web Design"
            height="300px"
            width="400px"
          />
          <h2>Web Design</h2>
          <p class="posted">
            An absolute list of courses from beginner to advance level.
          </p>
          <p>
            Web design encompasses many different skills and disciplines in the
            production and maintenance of websites. The different areas of web
            design include web graphic design; user interface design (UI
            design); authoring, including standardised code and proprietary
            software; user experience design (UX design); and search engine
            optimization. Often many individuals will work in teams covering
            different aspects of the design process, although some designers
            will cover them all. The term "web design" is normally used to …
          </p>
          <p><a href="/products">Get now >> </a></p>
        </article>
      </section>
      <footer>
        <p>&copy; Copyright reserved 2021</p>
      </footer>
    </div>
  </body>
</html>
